* {
  margin: 0;
  padding: 0;
}

.bg-img {
  width: 100%;
  height: auto;
}

body {
  background-image: url("img/crab.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #000;
}

.blocImage {
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.blocImage h1 {
  width: 50%;
  color: #FFF;
  font-size: 6vw;
}

button {
  border: none;
}

#Jeu {
  display: inline-block;
  background-color: #e93e33;
  margin-top: 5%;
  padding: 2%;
}

#Jeu div {
  overflow: hidden;
}

#Jeu button {
  width: 8vw;
  height: 8vw;
  font-weight: bold;
  font-size: 4vw;
  margin: 0.5vw;
  float:left;
}

#StatutJeu {
  color: #e93e33;
  background: #eee;
  padding: 1vw;
  text-align: center;
  font-size: 2vw;
  margin: 1.5vw;
}

#StatutJeu a {
  color: #000;
}
